<{include file='contentUp.html'}>
<div class="page-content">
    <div class="row">


        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" action="index.php?p=back&c=goods&a=update" id="goodsForm" enctype="multipart/form-data" role="form" method="POST">
            <!-- #section:elements.form -->

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 物品分类 </label>

                <div class="col-sm-2">
                    <select class="form-control" name='cat_ID'>
                        <{section name=key loop=$catList}>
                            <{if $catList[key].cat_ID eq $goodsInfo.cat_ID}>
                                <option value="<{$catList[key].cat_ID}>" selected ><{$catList[key].cat_title}></option>
                                <{else}>
                                <option value="<{$catList[key].cat_ID}>"><{$catList[key].cat_title}></option>
                            <{/if}>
                        <{/section}>
                    </select>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 物品名称 </label>

                <div class="col-sm-6">
                    <input id="goods_Name" name='goods_Name' value="<{$goodsInfo.goods_Name}>" class="col-xs-10 col-sm-5" type="text">
                </div>
            </div>
            <!-- /section:elements.form -->
            <div class="space-4"></div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 物品价格 </label>

                <div class="col-sm-6">
                    <input id="goods_Price" name='goods_Price' value="<{$goodsInfo.goods_Price}>" class="col-xs-10 col-sm-5" type="text">
                </div>
            </div>
            <!-- /section:elements.form -->
            <div class="space-4"></div>
            
            
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 物品简介 </label>

                <div class="col-sm-6">
                    <textarea id='goods_Info' name="goods_Info" class='col-sm-6' style='resize: none;'><{$goodsInfo.goods_Info}></textarea>

                </div>
            </div>

            <div class="space-4"></div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 物品大图 </label>

                <div class="col-sm-3">
                    <input id="id-input-file-2" name="file[]" type="file">
                    <img alt="150x150" src="<{$goodsInfo.goods_Image}>" height="150" width="150">
                    <input type="hidden" name="file" value="<{$goodsInfo.goods_Image}>">
                    <input type="hidden" name="goods_ID" value="<{$goodsInfo.goods_ID}>">
                </div>
            </div>

            <div class="space-4"></div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>

        </form>



    </div>
</div>
<{include file='contentDown.html'}>